header{
  height: 100px;
  width: 100%;
  background-color: $headerBackgroundColor;
  //dlaczego gubi sie background color ponizej 1100px???
}
.navigation{
  float: left;
  clear: both;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  a{
    font-weight: bold;
  }
}
.header_form{
  display: inline-block;
  float: right;
  form{
    position: relative;
    margin-top: 30px;
    margin-right: 30px;
    padding: 0;
    display: block;
    &::after{
      content: '\f002';
      font-family: 'FontAwesome';
      position: absolute;
      display: block;
      left: 175px;
      top: 3px;
      padding-left: 5px;
      border-left: 1px solid $headerBackgroundColor;
      color: $headerBackgroundColor;
    }
    input[type="submit"]{
      display: none;
    }
  }
}
.header_nav{
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 0 20px;
      a{
        text-decoration: none;
        color: $navColor;
      }
    }
  }
}

@media#{$mobile}{
  .header_nav{
    display: none;
  }
  .navigation i{
    cursor: pointer;
    width: 450px;
    &.fa-bars {
      font-size: (7em / 3);
      line-height: (3em / 4);
      vertical-align: -15%;
      margin-left: 30px;
      margin-top: 10px;
    }
  }
  .mob_nav{

  }



}


@media#{$desktop}{
  .main_width{
    width: 1100px;
    margin: 0 auto;
  }
  .navigation{
    width: 450px;
    i{
      display: none;
    }
  }
  .header_nav{
    ul{
      list-style-type: none;
      li{
        display: inline-block;
        margin: 0 20px;
        a{
          text-decoration: none;
          color: $navColor;
        }
      }
    }
  }



}
