header{
  width: 100%;
  background-color: $headerBackgroundColor;
}
.navigation{
  float: left;
  clear: both;
  height: 50px;
  h2{
    font-family: 'Carter One', cursive;
  }
}
.header_form{
  display: inline-block;
  float: right;
  form{
    position: relative;
    margin-right: 30px;
    display: block;
    input[type="submit"]{
      display: none;
    }
    input[type="search"]{
      font-family: 'Carter One', cursive;
      height: 30px;
      width: 300px;
    }
    .fa-search{
      position: absolute;
      background-color: white;
      color: $headerBackgroundColor;
      font-size: (5em / 3);
      right: -35px;
      top: 0;
      border-left: 1px solid gray;
      padding: 5px 5px 4px 6px;
    }
  }
}


@media#{$mobile}{
  header{
    height: 150px;
    .header_form{
  //    margin-top: 50px;
      width: 80%;
      input[type="search"]{
        width: 100%;
        .fa-search{
          right: 1px;
          top: 5px;
          padding-left: 6px;
        }
      }
    }
  }
  .navigation{
    height: 50px;
    width: 80%;
    margin-bottom: 40px;
    .nav_title{
      margin-left: 10px;
    }

  }

}


@media#{$tablet}{
  header{
    height: 120px;
    .header_form{
      input[type="search"]{
        width: 350px;
        padding-left: 20px;
      }
    }
  }
  .navigation{
    height: 50px;
    width: 80%;
    margin-bottom: 10px;
    .nav_title{
      margin-left: 10px;
    }

  }

}


@media#{$desktop}{
  .main_width{
    width: 1100px;
    margin: 0 auto;
  }
  .navigation{
    width: 450px;
    margin-top: 10px;
  }
  header{
    height: 100px;
    .header_form{
      margin-top: 30px;
    }
  }


}
