.article_map{
  background-color: $seeColor;
  width: 100%;
  height: 700px;
}

.map_country_data{
  display: none;
  background-color: $navColor;
  border-radius: 10%;
  opacity: .6;
  overflow: hidden;
  position: absolute;
  top: 100px;
  right: 20px;
  width: 180px;
  height: 200px;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 0;
    }
  }
}

@media#{$mobile}{
  .map{
    padding-left: 20px;
    padding-top: 3px;
    #chartdiv{
      width: 90vw;
      height: 85vh;
    }
    .map_country_data{
      top: 180px;
      right: 30px;
      width: 180px;
      height: 200px;
    }
  }
}



@media#{$desktop}{
  .main_width{
    width: 1100px;
    margin: 0 auto;
  }
  .map{
    position: relative;
    padding-top: 3px;
    #chartdiv{
      width: 75vw;
      height: 75vh;
    }
  }


}
