.article_map{
  background-color: $seeColor;
}
.map_country_data{
  display: none;
  width: 180px;
  height: 200px;
  background-color: $navColor;
  border-radius: 10%;
  opacity: .6;
  overflow: hidden;
  position: absolute;
  top: 100px;
  right: 20px;
  ul{
    list-style-type: none;
    li{
      display: inline-block;
      margin: 0;
    }
  }
}

@media#{$desktop}{
  .main_width{
    width: 1100px;
    margin: 0 auto;
  }
  .pic_map{
    width: 100%;
    height: 700px;
  }
  .map{
    position: relative;
  }
  .map i{
    &.fa {
      font-size: (4em / 3);
      line-height: (3em / 4);
      vertical-align: -15%;
      margin-left: 30px;
      padding-top: 20px;
      display: block;
    }
  }

}

@media#{$mobile}{
  .pic_map{
    width: 100%;
    height: 500px;
  }
}
