//breakpoints
$mobile: "(max-width: 600px)";
$desktop: "(min-width: 601px)";
$breakpoints: (
  mobile: 200px,
  desktop: 601px
);

//colors
$headerBackgroundColor: #007B72;
$navColor: #19FFEE;
$seeColor: #00C8B9;
//$landPartColor: #FF6F00;
